.contact-container
  %p Name
  %input{:size => "20px", :type => "text"}
    %p e-Mail
    %input{:size => "20px", :type => "text"}
      %p Massage
      %textarea{:cols => "40", :name => "comment", :rows => "3"}
      %br
    %input{:type => "submit", :value => "Submit"}/
