.help-container
  %h1 Help
  %details
    %summary Question
    %p Answer
  %details
    %summary Question
    %p Answer
  %details
    %summary Question
    %p Answer
  %details
    %summary Question
    %p Answer
