// Place all the styles related to the hotels controller here.
// They will automatically be included in application.css.sass.
// You can use Sass (SCSS) here: http://sass-lang.com/
.hotelitem{
}
.container{
  margin-top: 50px;
  height: 90vh;
  p{
    text-align: center;
  }
  h1{
    text-align: center;
  }
}
.hotellistitem{
  padding-bottom: 4px;
  text-align: center;
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.thumbnail{
  display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 5px;
    img{
      height: 100%;
      width: 100%;
      padding-top: 5px;
    }
}
