.profile-container
  %h1 Profile
  = image_tag current_user.image_url.to_s, width: '250'
  %h3 Name:
  %p #{@user.username}
  %h3 e-mail:
  %p #{@user.email}
  %li
    = link_to 'Edit', edit_user_registration_path(@user)
