.btn-blue{
  height: 48px;
  width: 150px;
  background-color: #25BCCA;
  border-radius: 3px;
  position: relative;
  left: 40%;
margin-top: 5px;
  a {
    text-align: center;
    letter-spacing: 1px;
    padding: 12px 20px;
    display: block;
    color: #fff;
    text-decoration: none;
  }

}
.btn-blue:hover {
    background-color: #1C2E36;
}
