.pagination{
  ul {
      display: inline-block;
      padding: 0;
      margin: 0;
  }
  ul li {

      display: inline;
  }
  ul li a {

      color:#25BCCA;
      float: left;
      padding: 8px 16px;
      text-decoration: none;
      border-radius: 5px;
      border: 1px solid #d6e1e4;
  }


  ul li a:hover:not(.active) {
      color:#fff;
      background-color: #25BCCA;
  }


}

.active {
  padding: 8px 16px;
  text-decoration: none;
  background-color:#1C2E36;
  color: white;
  border-radius: 5px;
  display: inline;
    }
