.container
  .row.col-md-2
    .hotelitem
      %img{:alt => "", :src => "h.jpg"}
        %h1 Name
        %p Description
  .row.col-md-2
    .hotelitem
      %img{:alt => "", :src => "h.jpg"}
        %h1 Name
        %p Description
  .row.col-md-4
    .hotelitem
      %img{:alt => "", :src => "h.jpg"}
        %h1 Name
        %p Description
  .row.col-md-2
    .hotelitem
      %img{:alt => "", :src => "h.jpg"}
        %h1 Name
        %p Description
  .row.col-md-2
    .hotelitem
      %img{:alt => "", :src => "h.jpg"}
        %h1 Name
        %p Description
.hotelslist
  %h1{:align => 'center'} Hotels
  .container
    .row
      - if Hotel.count == 0
        %h1 There is no hotels
      - else
        - @hotels.each do |hotel|
          .col-md-4
            .hotellistitem
              .thumbnail
                %img{:alt => "", :src => hotel.image_url.to_s, :style => 'height: 300px'}
              %h2 #{hotel.title}
              %p.text-justify #{hotel.room_description}
              .btn-blue
                %a{:href => hotel_path(hotel)} Подробнее
%center
  = paginate @hotels
