.container
  .footer
    .row
      .col-xs-8
        %ul.list-unstyled.list-inline.pull-left
          %li
            %a{:href => "#"} Условия обслуживания
          %li
            %a{:href => "#"} Контакты
          %li
            %a{:href => "#"} Кофеденциальность
      .col-xs-4
        %p.text-muted.pull-right © 2015 Hotel Advisor. Все права защищены
    %script{:src => "bs/js/salvattore.js", :type => "text/javascript"}