.footer
  %ul.pull-left
    %li
      %a{:href => "#"} Условия обслуживания
    %li
      %a{:href => "#"} Контакты
    %li
      %a{:href => "#"} Кофеденциальность
  %p.pull-right © 2015 Hotel Advisor. Все права защищены
